body {
    background-color: #f5f5f5;
}

.success-card {
    width: 550px;
    border-radius: 12px;
}

.list-group-item {
    border: none !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.list-group-item:last-child {
    border-bottom: none !important;
}
